.linearGradient{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: contrast(200%) brightness(1000%);
  background: 
  linear-gradient(215deg, rgb(95, 57, 1), rgba(0, 0, 0, 0.5)),
  url(../noise.svg);
  z-index: -1;
}

.overCommon {
  border: 1px solid black;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, .4);
}

.bg-custom-btn {
  background-color: transparent !important;
  &:hover {
    color: lightgray;
  }
}

.child-obj-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > p {
    font-weight: bold;
  }
}

.overlayout {
  position: relative;
  height: 25rem;
}

.overChildCommon {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
}

.overChild {
  top:    -5px;
  right:  -5px;
  bottom: -5px;
  left:   -5px;
  z-index: 1;
}

.overFinalChild {
  top:    -6px;
  right:  -6px;
  bottom: -6px;
  left:   -6px;
  z-index: 2;
}

.overChildWrapper {
  height: calc(100% - 1.5rem);
  margin: 1rem;
  border: 1px solid black;
}

.overLaynameWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.overLayName {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 0 1rem;
  top: 5px;
  z-index: 3;
}

.custom-detail-title {
  min-width: max-content !important;
  font-weight: bold;
  font-size: 25px;
}

.custom-Special-Button {
  position: absolute;
  width: auto;
  height: auto;
  content: "";
  bottom: 10px;
  right: 17px;
  color: black;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid black;
  border-bottom-color: transparent;
  border-right-color: transparent;
  margin: 0px;
  padding: 10px;
  border-radius: 0;
  &:hover {
    background-color: lightgray;
    border: 1px solid black;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  &:focus {
    box-shadow: none;
    border: 1px solid black;
    background-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
    background-color: lightgray;
  }
}

.followWrapper {
  position: relative;
  margin-top: 2rem;
}

.contentWrapper {
  position: absolute;
  width: calc(100% + 10px);
  left: -10px;
  margin-top: 1rem;
  padding: 2rem;
  background-color: transparent;
  border: 1px solid black;
}

.searchShadow {
  box-shadow: 2px 3px 0 rgba(black, .8);
}
.removeBackground {
  background-color: transparent;
  border-right-color: transparent;
}

.removeBorder {
  border-left-color: transparent;
  background-color: transparent;
  &:focus {
    background-color: transparent;
  }
}

.customBasicTablePos {
  position: relative;
  width: calc(100% + 10px);
  border: 2px solid gray;
  padding: 0 1rem;
  margin-top: 5px;
  margin-bottom: 2rem;
  // background-color: transparent;
  background-color: transparent;

  & > .overLayNameSeeAll {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    text-align: center
  }

  & > .custom-outl-table {
    position: absolute;
  }
}

.customTable {
  // position: absolute;
  top: -2rem;
  width: 100%;
  
  & > tbody {
    & > tr {
      &:first-child > td{
       padding-top: 1.5rem;
       background-color: transparent !important;
      }

      &:last-child > td{
       border-bottom-color: transparent;
      }

      & > td {
        //margin: 1rem;
        padding: 1rem 0;
        border: 2px solid gray;
        border-right-color: transparent;
        border-left-color: transparent;
      }
    }
  }
}

.fixedHeight {
  height: 10rem;
}